@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@500&family=Fira+Sans:wght@200&family=Island+Moments&family=Lobster&family=Montserrat:wght@200;400&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@100&family=The+Nautigal:wght@400;700&display=swap');


html{
    font-size: 62.5%;
}
/* body{
    overflow-x: hidden;
} */
.logo{
    width:30rem;
}
.custom-font{
    font-family: 'Bebas Neue', cursive;
}
nav{
    height:8rem;
}
.banner-background{
    background: #FFF9F4;
    height:calc(100vh - 8rem);
    min-height:calc(100vh - 8rem);
}
.banner-details{
    width: 40rem;
}
.buy-btn{
    padding: 1rem 2rem;
    color: #fff;
    font-size: 1.8rem;
    outline: none;
    background:linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
    border-radius: 1rem;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .4s all;
    border:1px solid #3D4FF3
}
.buy-btn:hover{
    color:#3D4FF3;
    background: #fff;
    border:1px solid #3D4FF3  ;
}
/* banner section start  */
.banner-heading{
    color: #FA804C;
    font-size:6rem;
}
.img-color{
    background: #F1F1F1;
    border-radius: 20px;
}


/* card section start  */
.price{
    color:#FA804C;
}
.card-btn{
    padding: .8rem 1.4rem;
    color: #fff;
    font-size: 1.6rem;
    outline: none;
    background:linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
    border-radius:1rem;
    outline: none;
    text-decoration: none;
    transition: .4s all;
    border:1px solid #3D4FF3
}
.card-btn:hover{
    color:#3D4FF3;
    background: #fff;
    border:1px solid #3D4FF3  ;
}


.custom-margin{
    margin-top:12rem;
}

footer{
    padding: 2rem 0;
    background: #000;
    color: #fff;
    text-align: center;
    font-size:1.5rem;
}
footer p{
    margin-bottom:0;
}


/* banner media query  */
@media screen and (min-width:300px) and (max-width:768px){
    
    .center{
        padding-bottom:8rem;
    }
}
@media screen and (min-width:300px) and (max-width:768px){
    
    .center{
        padding-bottom:8rem;
    }
}


